<p id="notice"><%= notice %></p>

<h1><%= current_user.name %></h1>
<h2><%= current_user.role.name %></h2>
<h3><%= current_user.email %></h3>

<table>
    <thead>
        <tr>
        <th>Status</th>
        <th>Rut</th>
        <th>Nombre(s)</th>
        <th>Apellido(s)</th>
        <th>Scheduled at</th>
        <th>Comments</th>
        <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <td><%= order.status %></td>
            <td><%= order.client.rut %></td>
            <td><%= order.client.first_name %></td>
            <td><%= order.client.last_name %></td>
            <td><%= order.scheduled_at %></td>
            <td><%= order.comments %></td>
            <td><%= link_to 'Show', order %></td>
            <td><%= link_to 'Edit', edit_order_path(order) %></td>
        </tr>
        <% end %>
    </tbody>
</table>