<p id="notice"><%= notice %></p>

<div class="col-12 col-md-6 p-2">
    <h2><%= current_user.name %></h2>
    <h3><%= current_user.role.name %></h3>
    <h4><%= current_user.email %></h4>
</div>

<div class="row">
    <div class="px-4 mt-4 col-12 col-md-6">
        <% if current_user.role.id == 2 %>
            <h4 class="font-weight-bold">Estado del total de mis ordenes</h4>
        <% else %>
            <h4 class="font-weight-bold">Cantidad total de ordenes terminadas por técnico</h4>
        <% end %>
        <%= pie_chart @orders_status, class: "graph" %>
        <br>
        <h4 class="font-weight-bold">Ordenes Asignadas</h4>
        <table>
            <thead>
                <tr>
                <th>Id</th>
                <th>Fecha y hora:</th>
                <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @orders.each do |order| %>
                    <% if order.status == "Asignada" %>
                    <tr>
                        <td><%= order.id %></td>
                        <td><%= order.scheduled_at.strftime("%d-%m-%Y %H:%M") %></td>
                        <td><%= link_to 'Ver', order %></td>
                        <td><%= link_to 'Editar', edit_order_path(order) %></td>
                    </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="px-4 mt-4 col-12 col-md-6">
        
        <% if current_user.role.id == 2 %>
            <h4 class="font-weight-bold">Cantidad de ordenes terminadas en las ultimas 8 semanas</h4>
            <%= column_chart @orders_finished, class: "graph", colors: ["#e89980"] %>
        <% else %>
            <h4 class="font-weight-bold">Cantidad de ordenes terminadas por técnico en las ultimas 8 semanas</h4>
            <%= line_chart @orders_finished, class: "graph" %>
        <% end %>
        <br>
        <h4 class="font-weight-bold">Ordenes Terminadas</h4>
        <table>
            <thead>
                <tr>
                <th>Id</th>
                <th>Fecha y hora:</th>
                <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @orders.each do |order| %>
                    <% if order.status == "Terminada" %>
                    <tr>
                        <td><%= order.id %></td>
                        <td><%= order.scheduled_at.strftime("%d-%m-%Y %H:%M") %></td>
                        <td><%= link_to 'Ver', order %></td>
                    </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>

</div>