<p>
  <strong>Nombre(s):</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Apellido(s):</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @client.rut %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @client.phone %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
