<% if @order.status == "En el lugar" %>
  <% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
      <script>
      document.addEventListener("DOMContentLoaded", function(){
          initMap(<%=@order.address.latitude%>, <%=@order.address.longitude%>)
      });
      </script>
  <% end %>
<% end %>

<h2 class="mx-3">Orden <%=@order.id%></h2>

<div class="row px-4">
  <div class="col-12 col-md-6 pb-4x">
    <p>
      <strong>Estado:</strong>
      <%= @order.status %>
    </p>
    
    <p>
      <strong>Rut de Cliente:</strong>
      <%= @order.client.rut %>
    </p>
    
    <p>
      <strong>Nombre(s):</strong>
      <%= @order.client.first_name %>
    </p>
    
    <p>
      <strong>Apellido(s):</strong>
      <%= @order.client.last_name %>
    </p>

    <p>
      <strong>Dirección:</strong>
      <%= @order.client.address.full_address %>
    </p>

    <p>
      <strong>Teléfono:</strong>
      <%= @order.client.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @order.client.email %>
    </p>

    <p>
      <strong>Fecha y hora:</strong>
      <%= @order.scheduled_at.strftime("%d-%m-%Y %H:%M") %>
    </p>
    
    <p>
      <strong>Comentarios:</strong>
      <%= @order.comments %>
    </p>

    <% if @order.status == "Asignada" && current_user.role.id == 2 %>
      <button type="button" id="geo_<%= @order.id %>" class="btn btn-outline-secondary btn-sm" onclick="getLocation(<%= @order.id %>)">Marcar llegada</button>
    <% elsif @order.status == "En el lugar" && current_user.role.id == 1 %>
      <p>
      <strong>Ubicación reportada por técnico:</strong>
      <%= @order.address.full_address %>
      </p>
    <% elsif order.status == "En el lugar" && current_user.role.id == 2 %>
      <td><%= link_to 'Crear reporte', reports_new_path, class: "btn btn-outline-secondary btn-sm" %></td>
    <% end %>

    <br>
    
    <%= link_to 'Edit', edit_order_path(@order) %> |
    <%= link_to 'Back', orders_path %>
  </div>

  <div class="col-12 col-md-6">
    <% if @order.status == "Terminada" && current_user.role.id == 1 %>
      <p>
        <strong>Calificación de la gestión del técnico en la orden:</strong>
      </p>
      Puntualidad  : <%= rating_for @order, 'puntuality', disable_after_rate: true, cancel: false %>
      Tiempo de ejecución : <%= rating_for @order, 'speed', disable_after_rate: true, cancel: false %>
      Calidad  : <%= rating_for @order, 'performance', disable_after_rate: true, cancel: false %>

    <% elsif @order.status == "En el lugar" && current_user.role.id == 1 %>
        <div id="map"></div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track": false, "data-turbolinks-eval": false %>