<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>TechStaff Management</title>
    <link rel="shortcut icon" type="image/png" href="app/assets/images/favicon.png">
    <meta name="author" content="Danielid Ramirez">
    <meta name="description" content="Gestiona ordenes para técnicos en terreno">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='turbolinks-visit-control' content='reload'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/8a3649dc26.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body class="landing is-preload">
    <!-- Navbar -->
    <%= render 'shared/navbar' %>
    
    <div id="page-wrapper">
			<!-- Main -->
				<section id="main" class="container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
				</section>
		</div>

  <!-- Footer -->
		<%= render 'shared/footer' %>
  
  </body>

</html>
